{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html>
	{% block content %}
<body ng-app="mainApp" ng-controller="CategoriesController">
<div class="main-page">

	{% include "left_menu.html" %}

	<!-- start content area here -->
		<div class="content_area">
			
			<div class="tables_area">
				<h2>User Locations</h2>
				<button type="submit" style="float:right" class="blue_btn yellow_btn text-uppercase" ng-click="exportData()">Export</button><br><br><br>
				<div class="white_box">
					<div class="table-responsive">
						<table width="100%" cellspacing="0" cellpadding="0">
							<thead>
								<tr>
									<th>Id</th>
									<th>Location</th>
									<th>City</th>
									<th>Latitude</th>
									<th>Longitude</th>
									<th>IP Address</th>
									<th>Created At</th>
								</tr>
							</thead>
							<tbody>
								<tr dir-paginate="userLocation in userLocationsList|orderBy:sortKey:reverse|filter:search|itemsPerPage:15">
									<td>{[{userLocation.id}]}</td>
									<td>{[{userLocation.street}]}</td>
									<td>{[{userLocation.city}]}</td>
									<td>{[{userLocation.latitude}]}</td>
									<td>{[{userLocation.longitude}]}</td>
									<td>{[{userLocation.ip_address_of_customer}]}</td>
									<td>{[{userLocation.created_at}]}</td>
								</tr>
							</tbody>
						</table>
						<dir-pagination-controls max-size="15" direction-links="true"
									boundary-links="true"> </dir-pagination-controls>
					</div>
				</div>
			</div>

			{% include "footer.html" %}
</div>
<div ng-hide="true">
	<form action="{% url 'set_session_null_for_app_admin' %}" method="POST" id="post-form">
		{% csrf_token %}
		<input type="Submit" value="Submit form" id="setSessionNullForm">
	</form>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#idUserLocationsLi').addClass('active');
	});
</script>
<script>
	var mainApp = angular.module('mainApp', ['angularUtils.directives.dirPagination']);
	mainApp.controller('CategoriesController', function($rootScope, $scope, $window, $location, CategoriesServices) {
		
		$scope.token = '{{request.session.token}}';
		$scope.userLocationsList = JSON.parse('{{user_locations}}'.replace(/&quot;/g,'"').replace(/\n/g, "\\n").replace(/\r/g, "\\r").replace(/\t/g, "\\t").replace(/\f/g, "\\f"));
        
		$scope.exportData = function() {
			CategoriesServices.exportUserLocations($scope)
			.then(function(_data) {
				var base = $location.$$absUrl;
				base = base.substring(0, base.lastIndexOf('/'))
				base = base.substring(0, base.lastIndexOf('/'))
				base = base.substring(0, base.lastIndexOf('/'))
				$window.open(base + "/" + _data.data.fileUrl);
			}, function(response) {
				if (response.status == 401) {
					alert("Your session has been expired.");
					$scope.token = "-1";
					$("#setSessionNullForm").click();
				}
			});
		}

	});
	mainApp.service('CategoriesServices', function($http) {
		
		this.exportUserLocations = function(scope, obj) {
			return $http.get(ipAddress+"/export_user_locations/", {
				headers:{ 'Authorization':  scope.token}
			});
		}
		
	});
	mainApp.config(['$httpProvider', function($httpProvider){ 
	 	$httpProvider.defaults.xsrfCookieName = 'csrftoken'; 
	 	$httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken'; 
	 }]);
	mainApp.config(function($interpolateProvider) {
		  $interpolateProvider.startSymbol('{[{');
		  $interpolateProvider.endSymbol('}]}');
		});
</script>

{% endblock %}
</body>
</html>