{% extends 'resources/base.html' %}
{% load static %}
{% block content %}

<div class="banner_sec">
    <div class="heading-main">
        <h1>Health Resources Survey</h1>
    </div>
</div>
    <div class="form_sec">
        <div class="container">
            <div class="row">
                <div class="co-md-12">
                    <iframe name="survey123webform" width="900" height="700" frameborder="0" marginheight="0" marginwidth="0" title="Mobile Health Use Survey" src="//survey123.arcgis.com/share/512347a3ba564151870bc25f9f82f45b" allow="geolocation https://survey123.arcgis.com; camera https://survey123.arcgis.com"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}