{% extends 'resources/base.html' %}
{% load static %}
{% block content %}

<div class="banner_sec">
    <div class="heading-main">
        <h1>Health Resources Survey</h1>
    </div>
</div>
    <div class="form_sec">
        <div class="container">
            <div class="row">
                <div class="co-md-12">
                    <iframe src="https://unomaha.az1.qualtrics.com/jfe/form/SV_cu65yEhRIBw6oZM" height="800px" width="600px"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}