{% extends 'resources/base.html' %}
{% load static %}
{% block content %}
<div class="banner_sec">
    <img src="{% static 'index.jpg' %}" alt="" width="1200" height="400" />
    <div class="heading-main">
        <h1>{{category_name}}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="welcome_box">
                <div class="title">
                    <h4 style="text-align:center;">Welcome!</h4>
                </div>
                <div class="text">
                        <h4 style="text-align:center;"><a href="" onclick="hitURL()">FIND RESOURCES NEAR ME!</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="resourec-tabs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Resources Guide</h2>
                <p><a href="#res1"> Resource One</a></p>
                <p><a href="#res2"> Resource Two</a></p>
                <p><a href="#res3"> resource three</a></p>
            </div>
        </div>
    </div>
</div> -->
<div class="tabs_sec">
    <div class="container">
        <div class="tab" id="res1">
            <div class="row">
                <div class="col-md-12">
                    {% for resource in resources %}
                    <div class="sub-box">
                        <h3 class="name">{{ resource.resource_name }}</h3>
                        <p class="services"><strong>Eligibility/Requirements:</strong> {{ resource.eligibility }}</p>
                        <p class="Payment "><strong>Description:</strong> {{ resource.resource_description }}</p>
                        <p class="Hours"><strong>Office hours:</strong> {{ resource.office_hours }}</p>

                        <div class="location-box">
                            <p> <strong>Address:</strong> {{ resource.location }}</p>
                            <p><strong>Phone:</strong> {{ resource.phone }}</p>
                            <p><strong>Website Link:</strong> <a href={{ resource.website}}>{{ resource.website_link }}</a></p>

                        </div>

                    </div>
                    {% endfor %}
                   
                </div>
            </div>
        </div>

    </div>
    <script>
        var latitude = null;
        var longitude = null;
        var category_id = {{category_id}};
        
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        getLocation();
        function showPosition(position) {
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
            codeLatLng(latitude, longitude);
        }
        function codeLatLng(lat, lng) {

            var latlng = new google.maps.LatLng(lat, lng);
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'latLng': latlng}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                    //formatted address
                    //find country name
                        for (var i=0; i<results[0].address_components.length; i++) {
                        for (var b=0;b<results[0].address_components[i].types.length;b++) {

                        //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                            if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
                                //this is the object you are looking for
                                city= results[0].address_components[i];
                                break;
                            }
                        }
                    }
                    //city data
                    saveUserLocation(lat, lng, results[0].formatted_address, city.long_name);

                } else {
                    //alert("No results found");
                }
            } else {
                //alert("Geocoder failed due to: " + status);
            }
            });
        }
        function hitURL() {
            event.preventDefault();
            if(latitude != null) {
                var url = "{% url 'resource_list_by_location' category_id=12 lat=123 lon=234 %}".replace(/12/, category_id.toString()).replace(/123/, latitude.toString()).replace(/234/, longitude.toString());
                document.location.href = url;
            } else {
                alert("Kindly do refresh the page and grant your location access to use this feature.");
            }
        }

        function saveUserLocation(lat, lng, short_name, long_name) {
            $.ajax(ipAddress+'/add_user_location/', {
                type: 'POST',  // http method
                data: { latitude: lat, longitude: lng, street: short_name, city: long_name },  // data to submit
                success: function (data, status, xhr) {
                //    alert("success");
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("error");
                //    alert(errorMessage);
                }
            });
        }
    </script>
</div>
{% endblock %}